.float-right-top {
    // position: absolute;
    // right: 2px;
    // top: 10px;
    float: right;
    margin-left: 5px;
}

.lesson-info {
    padding: 15px;
    background-color: $color-quaternary;
    margin: 15px 0;
    h3 {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    p {
        text-align: left;
        word-wrap: break-word;
    }
    .lesson-info-details {
        border: solid $color-initial 1px;
        margin-top: 15px;
        padding: 10px;
        
        div {
            margin: 10px 0 10px;
        }
        span:not(.tag-pill){
            padding: 5px 10px;
            color: $color-primary;
            background-color: $color-quinary;
            border-radius: 1em;
            margin-right: 10px;
            white-space: nowrap;
        }
    }
}

.previewer-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.file-wrapper-container {
    background-color: $color-tertiary;
    padding: 15px;
}

.file-wrapper {
    // height: fit-content;
    // min-height: min-content;
    margin-bottom: 15px;
}

@media (min-width: 1000px) {
    .lesson-container {
        display: flex;
        margin: 15px;
        justify-content: center;
    }

    .file-wrapper-container {
        margin: 0 15px 15px 0;
        flex-grow: 1;
    }

    .lesson-info {
        min-width: 450px;
        margin: 0 15px 15px 0;
    }
}

@media (max-width: 999px) {
    .lesson-container {
        padding-bottom: 50px;
    }
    .file-wrapper {
        width: 100%;
    }
    .file-wrapper-container {
        width: 100%;
        margin-bottom: 15px;
    }
}