.create-course-modal {
    background-color: $color-initial;
    padding: 20px;
    border-radius: 5px;
}

.range-value {
    display: inline-block;
    width: 35px !important;
    padding: 5px;
    margin-right: 5px;
    text-align: center;
    border-radius: 7px;
    box-shadow: #d3d3d3 0 0 3px 2px;
}