.create-lesson-container {
    // @extend .home-container;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-radius: 0.5rem;
    border: solid 1px lighten($color: $color-secondary, $amount: 35);
    background-color: $color-initial;  
}

.create-lesson-form {
    width: 100%;

}

.file-list-item {
    display: flex;
    min-width: 400px;
    background-color: $color-quinary;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
}

.file-list {
    margin: 15px 0;
}

input, textarea, select {
    background-color: #fff !important;
}

.input[type='file'] {
    display: none;
}

.input-file-label {
    background-color: $color-tertiary;
    border: solid $color-secondary 1px;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    color: $color-primary;
    font-size: 0.8em;
    cursor: pointer;
    &:hover {
        transform: scale(1.01);
    }
}

@media (max-width: 40.0rem) {
    .mobile-full-width {
        width: 100% !important;
        max-width: 100% !important;
    }
}

//animação do calendarEditBox
.calendarEdit-enter {
    opacity: 0.01;
}

.calendarEdit-enter.calendarEdit-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

.calendarEdit-leave {
    opacity: 1;
}

.calendarEdit-leave.calendarEdit-leave-active {
    opacity: 0.01;
    transition: opacity 250ms ease-in;
} //

.calendar-edit-box {
    width: 60%;
    max-width: 400px;
    box-shadow: rgba(90, 90, 90, 0.699) 0 0 8px;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    z-index: 1000;
}

.calendar-edit-box-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(90, 90, 90, 0.699);
    z-index: 999;
}

.tag-pill {
    background-color: $color-primary;
    color: $color-quinary;
    font-size: 0.8em;
    border-radius: 15px;
    padding: 3px 8px;
    margin: 2px 4px;
    svg {
        margin-left: 5px;
        cursor: pointer;
    }
}

.tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 15px 0;
}

.send-lesson-button {
    height: 70px;
    font-size: 1.4rem;
}

.create-lesson-checkbox-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 100px;
    overflow: auto;
    div {
        display: flex;
        flex: 1 1 35%;
        text-align: left;
        padding: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 5px 5px;
        background-color: $color-quinary;
        align-items: center;
        div {
            display: inline-block;
            height: 100%;
            line-height: 100%;
            vertical-align: middle;
            margin: 0;
        }
    }
}

@media (max-width: 620px) {
	.create-lesson-checkbox-wrapper {
        div {
            flex: 1 1 100%;
        }
    }
}

