.create-lesson-container {
    @extend .home-container;
    display: flex;
    // flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.create-lesson-form {
    width: 100%;
    // max-width: 600px;
}

.file-list-item {
    display: flex;
    min-width: 400px;
    background-color: $color-quinary;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
}

.file-list {
    margin: 15px 0;
}

.input[type='file'] {
    display: none;
}

.input-file-label {
    background-color: $color-tertiary;
    // box-shadow: $color-secondary 3px 2px 5px;
    border: solid $color-secondary 1px;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    color: $color-primary;
    font-size: 0.8em;
    cursor: pointer;
    &:hover {
        transform: scale(1.01);
    }
}

@media (max-width: 40.0rem) {
    .mobile-full-width {
        width: 100% !important;
        max-width: 100% !important;
    }
}

//animação do calendarEditBox
.calendarEdit-enter {
    opacity: 0.01;
    height: 1px;
}
  
.calendarEdit-enter.calendarEdit-enter-active {
    opacity: 1;
    height: 200px;
    transition: opacity 250ms ease-in, height 250ms ease-in;
}

.calendarEdit-leave {
    opacity: 1;
    height: 200px;
}

.calendarEdit-leave.calendarEdit-leave-active {
    opacity: 0.01;
    height: 1px;
    transition: opacity 250ms ease-in, height 250ms ease-in;
} //

.tag-pill {
    background-color: $color-primary;
    color: $color-quinary;
    font-size: 0.8em;
    border-radius: 15px;
    padding: 3px 8px;
    margin: 2px 4px;
}

.tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 15px 0;
}