body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea { 
  /* will prevent resizing horizontally */
  resize:vertical;
}

@import 'variables';
@import './milligram-1.3.0/Color';

@import 'navbar';
@import 'login';
@import 'createlesson';
@import 'listViewer';
@import 'sidebar';

.Content {
  // margin-top: 2em;
  height: calc(100vh - 65px);
  padding: 0;
  width: 100%;
  max-width: unset !important;
}

@media (min-width: 750px) {
  .Content {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
  }

  .home-container {
    height: calc(100vh - 65px) !important;
    overflow: scroll !important;
  }
}

.home-container {
  height: calc(100vh - 65px);
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  & > * {
    // flex: 1;
  }
}