body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import 'variables';
@import './milligram-1.3.0/Color';

@import 'navbar';
@import 'login';

@media (min-width: 750px) {
  .Content {
    width: $main-content-width;
    background-color: rgb(255, 255, 255);
  }
}