.listView-item-container {
    // width: 100%;
    // height: auto !important;
    // border-bottom: $color-tertiary;
    display: flex;
    // justify-content: space-evenly;
    // flex-grow: 2;
    padding: 5px;
    td {
        flex: 1;
    }
    .title {
        flex: 3 !important;
    }
}
.list-view-container {
    height: 100%;
    // display: flex;
    // flex-grow: 2;
}
.list-title {
    margin-top: 15px;
}
.List {
    // border-bottom: solid 1px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    box-shadow: #00000071 0px 0px 7px;
    // border-radius: 10px;
    // background-color: $color-initial;
    // margin:10px auto 10px;
    padding: 10px;
    overflow: hidden;
}

// .listView-item {
//     display: flex;
//     flex-direction: row;
// }

.list-author-photo {
    display: block;
    width: 30px;
}

.listview-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.ReactVirtualized__List {
    &:focus {
        outline: none !important;
        border: none !important;
    }
}

.ReactVirtualized__Grid__innerScrollContainer {
    max-height: unset;
}

.list-image-multiple {
    width: 25%;
}

.list-image {
   width: min-content;
   max-width: 300px;
   margin: 5px;
}

.placeholder-div {
    background-color: #DDD;
    height: 1em;
    width: 150px;
    margin-bottom: 4px;
}

.files-preview-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.and-more {
    width: 100%;
    font-size: x-large;
}