.listView-item-container {
    display: flex;
    padding: 5px;
    td {
        flex: 1;
    }
    .title {
        flex: 5 !important;
    }
    .discipline {
        flex: 3;
    }
}

.list-table {
    display: flex;
    width: 100%;
    td {
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.super-list-container {
    // height: calc((100vh - 50px) / 2.1);
    height: 100%;
    padding: 10px 0 0 0;
    margin-bottom: 10px;
}

.list-title {
    // margin-top: 15px;
    display: inline-block;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    box-shadow: #00000071 0px 0px 7px;
    padding: 10px;
    overflow: hidden;
}

.list-author-photo-wrapper {
    display: inline-flex;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
    overflow: hidden;
}

.list-author-photo {
    object-fit: cover;
}

.listview-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.ReactVirtualized__List {
    // box-shadow: inset rgb(214, 214, 214) 0 -2px 7px 5px;
    &:focus {
        outline: none !important;
        border: none !important;
    }
}

.ReactVirtualized__Grid__innerScrollContainer {
    max-height: unset;
}

.list-image-multiple {
    width: 25%;
}

.list-image {
//    width: min-content;
   width: 100%;
   max-width: 300px;
   margin: 5px;
}

.placeholder-div {
    background-color: #DDD;
    height: 1em;
    width: 150px;
    margin-bottom: 4px;
}

.cylon-eye {
    height: 100%;
    width: 20%;
  
    // background-color: rgb(255, 255, 255);
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%);
    background-image:    -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3)2, 0.1) 50%, rgba(255, 255, 255, 0) 100%;
    background-image:      -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%,  rgba(255, 255, 255, 0) 100%);
    background-image:         linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%);
  
    -webkit-animation: move_eye 1s linear 0s infinite;
       -moz-animation: move_eye 1s linear 0s infinite;
         -o-animation: move_eye 1s linear 0s infinite;
            animation: move_eye 1s linear 0s infinite;
}

@-webkit-keyframes move_eye { from { margin-left:-5%; } to { margin-left:100%; }  }
   @-moz-keyframes move_eye { from { margin-left:-5%; } to { margin-left:100%; }  }
     @-o-keyframes move_eye { from { margin-left:-5%; } to { margin-left:100%; }  }
        @keyframes move_eye { from { margin-left:-5%; } to { margin-left:100%; }  }

.files-preview-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.and-more {
    width: 100%;
    font-size: x-large;
}

.close-btn {
    &hover {
        cursor: pointer;
    }
}