nav {
    display: flex;
    background-color: rgb(122, 122, 122);
    color: #fff;
    height: $navbar-height;
    width: 100%;
    align-items: center;
    justify-content: center;
    .nav-wrapper {
        display: flex;
        justify-content: flex-end;
        width: $main-content-width;
        align-items: center;
        a {
            color: #fff;
            &:hover {
                color: $color-quinary;
            }
        }
        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            li {
                margin-right: 15px;
            }
        }

        #nav-username {
            margin-right: 5px;
        }
    }
}